.clueList{
  height:30vw;
  background-color: white;
}

ul {
  list-style-type: none;
}

.across, .down  {
  height: 30vw;
  overflow-y: scroll;
}

.active {
  background-color: lightblue;
}

@media (min-width:1200px) {
  .clueList{
    width:50%;
  }
}