
td {
  text-align: center;
  border: 1px solid rgb(156, 156, 156);
  padding:0;
}
td span{
  position: absolute;
  font-size: xx-small;
}  

td input{
  width: 90%;
  height: 100%;
  border:none;
  background-color: transparent;
  text-align: center;
  text-transform:uppercase;
  font-size: xx-small;
}

.blue {
  background-color: lightblue;
}
.cell-black{
  background-color: black;
}

input.active {
  background-color: lightblue;
}