.clueList{
  display:grid;
  grid-template-columns: 1fr 1fr;
  height:30vw;
}

.clueList > div {
  overflow-y: scroll;
}

.active {
  background-color: lightblue;
}

@media (min-width:1200px) {
  .clueList{
    width:50%;
  }
}