header {
  display: flex;
  font-family: "Verdana";
  border-bottom:1px solid gray;
}

h1 {
  margin: 1vw;
}
#buttons {
  display: flex;
  box-sizing: border-box;
}

button {
  border: none;
  box-sizing: border-box;
  background-color: transparent;
  font-size:3vh;
  padding: 0 .5vw;
  height:100%;
}

button:hover {
  background-color: lightgray;
  
}

a {
  text-decoration: none;
  color:black;
}