#puzzle {
  display:flex;
  justify-content: space-evenly;
}

#puzzle > div {
  background-color: white;
  border: 1px solid black;
}

table {
  background-color: white;
  width: 30vw;
  height: 30vw;
  border: 1px solid black;
  border-collapse: collapse;
}