td{
  padding: 0;
  margin: 0;
  position: relative;
  border: 1px solid black;
  text-align: center;
}

td span{
  position: absolute;
  top: 0px;
  left: 3px;
  z-index: 1;
}  

td input{
  width: 100%;
  height: 100%;
  border:none;
  text-align: center;
  font-size: 1.4vw;
  text-transform:uppercase;
}

.black > input{
  background-color: black;
}