* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: hsl(219, 93%, 64%);
}

header {
    display:flex;
    align-items: center;
    height: 10vh;
    background-color: white;
    border-bottom:1px solid gray
}

header h1 {
    font-family: "Verdana";
    font-size:4vh;
    margin-left: 1vw;
}

/** Body of the html file. **/

#content {
    display:grid;
    grid-template-columns: 1fr;

}

aside {
    display: none;
}

#puzzle {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

@media (min-device-width:480px) {
    #content {
        display:grid;
        grid-template-columns: 1fr 2fr 1fr;
    }
    
    aside {
        display:block;
        background-color: white;
        border:1px solid gray;
        border-radius: 5px;
        height: 50vh;
        margin: 1% 10%;
    }

    .puz {
        display:flex;
        background-color: white;
        border: 1px solid gray;
        height: 20vh;
      }
      
      .puz div {
        flex: 1;
        text-align: center;
        margin:auto;
      }
      
      .puz span {
        font-size: 5vh;
        margin:auto;
        box-sizing: border-box;
      }
      
      .puz:hover {
        background-color: rgb(186, 206, 245);
      }
}