* {
    box-sizing: border-box;
}

body {
    background-color: hsl(219, 93%, 64%);
    margin: 0;
}

header {
    display:flex;
    align-items: center;
    height: 10vh;
    background-color: white;
    border-bottom:1px solid gray
}

header h1 {
    font-family: "Verdana";
    font-size:4vh;
    margin-left: 1vw;
}

/** Body of the html file. **/

#content {
    display:grid;
    grid-template-columns: 1fr;

}

aside {
    display: none;
}

#main_board {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#new_puzzle {
    height:40vh;
    background-color: white;
}

@media (min-device-width:480px) {
    #content {
        display:grid;
        grid-template-columns: 1fr 2fr 1fr;
    }
    
    aside {
        display:block;
        background-color: white;
        border:1px solid gray;
        border-radius: 5px;
        height: 50vh;
        margin: 1% 10%;
    }

    .puz {
        height: 10vh;
    }
}